{
  "presets": [
    "env",
    "stage-0"
  ],

  "plugins": ["transform-decorators-legacy"],

  "ignore": [
    "*.es5.*"
  ],

  "env": {
    "development": {
      "plugins": [
      ]
    },
    "production": {
      "presets": [
      ]
    }
  },
  
  "sourceMaps": true
}